logs
visualization
.vscode
someFiles
SNP_tool/hifiasm_overlapsPA_E-Coli_Edlib.paf
SNP_tool/hifiasm_overlapsPA_E-Coli_KSW2.paf
SNP_tool/hifiasm_overlapsPA_E-Coli_pafKSW2.paf 
astar-pairwise-aligner
benchmarks
diff
downloads
logs
maternalReads
PA
snpAnnotations
snpGT
VCF
vcfMaternalChr19
BED
reports
reports.zip
filtered
results
graphs